@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');

// 300
// 400
// 700
// 900

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #f9f8fb;
	font-family: 'Raleway';
}

.container {
	width: 100%;
	padding: 0 15px;
	margin: auto;
}

.cahee__main {
	padding: 30px 20px;
	width: 100%;
	height: 100vh;
	background: url("../img/bg_main.png") center no-repeat;
	background-size: 100%;
}

.cahee__header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 120px;
}

.cahee__header-logo {
	font-size: 0;
}

.cahee__header-nav {
	width: 100%;
	max-width: 570px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.link {
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: #343434;
	font-weight: 700;
	position: relative;
	padding: 9px 0;
}

.link:before {
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 0%;
	height: 3px;
	background: #ff6033;
	transition: all .5s ease;
}

.link:hover:before {
	width: 100%;
}

.cahee__main-info {
	width: 100%;
	max-width: 360px;
}

.cahee__main-title {
	font-size: 60px;
	text-transform: capitalize;
	font-weight: 700;
	color: #000;
	margin-bottom: 20px;
}

.cahee__main-text {
	font-size: 17px;
	font-weight: 700;
	color: #000;
	line-height: 2;
	margin-bottom: 30px;
	max-width: 360px;
}

.cahee__main-btn {
	display: block;
	text-align: center;
	max-width: 200px;
	padding: 15px 19px;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #ff6033;
	margin-bottom: 90px;
	box-shadow: 0 3px 3px 3px rgba(0,0,0,0.1);
	transition: all .5s ease;
}

.cahee__main-btn:hover {
	color: #000;
	background-color: #fff;
	box-shadow: 0 3px 3px 3px rgba(0,0,0,0.2);
}

.cahee__main-scroll {
	display: flex;
	justify-content: center;
	font-size: 0;
}

.cahee__about {
	position: relative;
	padding: 0 20px;
	width: 100%;
	height: 100vh;
	background: url("../img/bg_about.png") center no-repeat;
	background-color: #00b2b2;
	background-position: left;
	color: #fff;
}

.cahee__about-info {
	padding: 110px 130px 0 0;
	position: absolute;
	right: 0;
	width: 100%;
	max-width: 550px;
}

.cahee__about-title {
	font-size: 80px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 25px;
}

.cahee__about-text {
	font-size: 17px;
	line-height: 1.8;
}

