@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #464f54;
	padding: 0 15px;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.page__section {
	width: 100%;
	background-color: #fff;
}

.header__text {
	position: absolute;
	right: 0;
	width: 100%;
	max-width: 875px;
	background-color: #000;
	color: #fff;
}

.header__title {
	padding: 50px 0 0 65px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #777777;
	font-size: 15px;
	font-family: 'Montserrat';
}

.header__headline {
	text-transform: capitalize;
	font-size: 48px;
	padding-left: 65px;
	font-family: 'Playfair Display';
	font-weight: 300;
	margin-bottom: 20px;
}

.header__headline:after {
	content: '';
	border-right: 1px solid #afb1b3;
	margin-left: 55px;
}

hr {
	margin-bottom: 50px;
	background: #303030;
}

.header__nav {
	position: absolute;
	right: 0;
	top: 214px;
	width: 100%;
	max-width: 810px;
}

.header__nav-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	background-color: #f4bb2c;
	padding: 22px 0;
}

.header__nav-link {
	display: block;
	text-align: center;
	width: 38px;
	height: 36px;
	opacity: 0.5;
	transition: all .3s ease;
}

.header__nav-link:hover {
	opacity: 1;
}

.page__text-area {
	width: 100%;
	max-width: 920px;
	padding: 300px 50px 50px;
	margin: auto;
}

.page__text-area::before {
	content: '';
	width: 0;
	height: 100%;
	position: absolute;
	border: 2px solid #e8eced;
	top: 0;
	left: 100px;
}

.page__title-main {
	width: 100%;
	margin-bottom: 50px;
	color: #b4b4b4;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Montserrat';
}

.page__headline {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 78px;
	font-family: 'Montserrat';
}

.page__title-italic {
	color: #b4b4b4;
	font-size: 30px;
	font-style: italic;
	text-transform: capitalize;
	margin-bottom: 50px;
}

.page__text {
	text-align: justify;
	width: 100%;
	max-width: 805px;
	font-size: 27px;
	text-transform: capitalize;
	margin-bottom: 40px;
}

.page__text:last-child {
	margin-bottom: 0;
}
