@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&display=swap');

$main-font: 'Work Sans';
$base-size: 15px;


///COLORS

$header-text-grey: #b0b0b0;
$header-text-white: #def4f2;
$header-text-hover: #038c8c;
$fs-menu-hover: #00a99e;
$about-text-grey: #636363;
$menu-btn1: #079f97;
$menu-btn2: #038587;
$menu-btn3: #017c81;
$fs-round1: #13b9ab;
$fs-round2: #079492;
$fs-round3: #04878b;
$navbar-btn: #01646c;
$navbar-btn2: #097b84;
$navbar-btn3: #118f99;
$navbar-btn4: #1da0aa;
$navbar-btn5: #29b7c2;
$navbar-btn6: #3ccad5;