.dl-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	min-height: 300px;
	color: $black-el;
	line-height: 1.5;

	@include lg-screen {
		min-height: 400px;
	}

	&__btn {
		width: 100%;
		max-width: 200px;
		padding: 10px 0;
		margin: 0 auto;
		color: $white-el;
		font-size: px_to_rem(16px);
		text-transform: uppercase;
		background-color: $contact-btn;
		transition: all .5s ease;

		@include lg-screen {
			width: 100%;
			max-width: 395px;
			padding: 20px 0;
		}

		&:hover {
			color: $black-el;
			background-color: $white-el;
			box-shadow: 1px 1px 1px 2px $black-el;
		}
	}
}
