* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #374040;
	width: 100%;
	font-family: sans-serif;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
	background-color: #444d4d;
	width: 100%;
	padding: 20px 0 20px;
	margin-bottom: 45px;
	box-shadow: 0 0 2px #000;
}

.header__main-text {
	color: #cc796c;
	text-align: center;
	text-transform: uppercase;
}

.header__text {
	color: #cc796c;
	text-align: center;
	text-transform: capitalize;
}

.form {
	width: 100%;
	max-width: 800px;
	margin: auto;
}

.form__list {
	margin-bottom: 40px;
}

.form__list-item {
	list-style-type: none;
}

.form__label {
	background-color: #77778e;
	display: block;
	padding: 15px;
	border: 2px solid transparent;
	transition: all .3s ease;
}

.form__list-item .form__label:active {
	background-color: #cc796c;
}

.form__list-item:nth-child(odd) .form__label {
	background-color: #626284;
}

.form__label:hover {
	display: block;
	padding: 15px;
	border-top: 2px solid #c0c2c8;
	border-bottom: 2px solid #c0c2c8;
	cursor: pointer;
}

input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
}

input:checked ~ span {
	text-decoration: line-through;
}

.form__text {
	color: #fff;
	display: inline-block;
	font-size: 20px;
	margin: 0 10px 0 20px;
}

.form__text-comment {
	color: #fff;
	display: inline-block;
	font-size: 13px;
	opacity: 0.5;
}

input[type="submit"] {
	display: block;
	background: #464f4f;
	color: #cc796c;
	font-size: 25px;
	width: 100%;
	padding: 10px;
	border: none;
	text-transform: capitalize;
	cursor: pointer;
	transition: all .3s ease;
}

input[type="submit"]:hover {
	display: block;
	background: #cc796c;
	color: #444d4d;
	font-size: 25px;
	width: 100%;
	padding: 10px;
	border: none;
	text-transform: capitalize;
	cursor: pointer;
}