* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2793cb;
	color: white;
	font-family: 'Muli', sans-serif;
}

h1 {
	text-transform: capitalize;
	font-size: 25px;
	margin-bottom: 20px;
}

.forecast__section {
	max-width: 800px;
    margin: auto;
    padding: 20px;
}

.forecast__city-list {
	list-style-type: none;
	font-size: 0;
	margin-bottom: 25px;

}

.forecast__small-item, .forecast__middle-item, .forecast__large-item {
	display: inline-block;
	vertical-align: middle;
}

a {
	display: block;
	text-decoration: none;
	color: #cff7fe;
	padding: 20px 0 20px;
	font-size: 18px;
	font-weight: 800;
	text-align: center;
	text-transform: capitalize;
	border: 2px solid #fff;
	transition: all .3s ease;
}

.forecast__city-list:hover a {
	opacity: 0.6;
}

.forecast__city-list a:hover {
	opacity: 1;
}

p {
	font-weight: 300;
	margin-top: 17px;
}

.forecast__small-item {
	width: 25%;
}

.forecast__middle-item {
	width: 50%;
}

.forecast__large-item {
	width: 100%;
}

.city__aqua {
	background-color: #24bdc7;
}

.city__light-pink {
	background-color: #976f96;
}

.city__red {
	background-color: #c75441;
}

.city__orange {
	background-color: #e67243;
}

.city__yellow {
	background-color: #fecb5c;
}

.city__light-green {
	background-color: #94c394;
}

.city__unknow {
	background-color: #5f9393;
}

.city__pink {
	background-color: #cc7391;
}

.city__green {
	background-color: #278d64;
}

.city__purple {
	background-color: #626a95;
}

.footer__text {
	text-transform: capitalize;
	font-size: 15px;
}
