///FONTS

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&display=swap');

$main-font: 'Noto Sans JP';
$logo-font: 'LibreBaskerville';
$base-size: 15px;

/// COLORS

$font-white: #fff;
$font-dark-grey: #4f4f4f;
$font-logo-grey: #b7babb;
$font-grey: #4f4f4f;
$btn-green: #2b7551;
$tab-blue: #6598e6;
$tab-yellow: #fdcf0a;
$tab-green: #12b367;
$tab-orange: #e67624;
$section-shadow: #dedede;
$fomr-btn-bg: #444444;
$form-subscribe-btn-bg: #029bb1;
$form-blue: #01d4f3;
$footer-bg: #2b2927;

