// font-family: 'Overpass', sans-serif;
.blog__news {
    width: 100%;
    max-width: 1120px;
    background-color: #e2e7ec;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__big-card {

}