* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e2e7ec;
	font-family: 'Overpass', sans-serif;
}

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.blog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	min-height: 1100px;
	list-style: none;
	margin-bottom: 80px;
}

.blog__card-first {
	max-width: 740px;
	height: 540px;
}

.blog__link-first {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #000;
	transition: all .3s ease;
}

.blog__link-first:hover {
	transform: translateY(-10px);
}

.blog__footer {
	position: absolute;
	bottom: 0;
	padding: 70px 28px 40px 28px;
	width: 100%;
	color: #fff;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(0,0,0,0.93) 66%,rgba(0,0,0,0.93) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.blog__footer-date {
	font-size: 13px;
	text-transform: uppercase;
	color: #a3a3a3;
}

.blog__footer-title {
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
}

.blog__card {
	display: flex;
	width: 100%;
	max-width: 360px;
	max-height: 540px;
}

.blog__link {
	position: relative;
	text-decoration: none;
	color: black;
	background-color: #fff;
	transition: all .3s ease;
}

.blog__link:hover {
	transform: translateY(-10px);
}

.blog__card-picture {
	display: flex;
	margin-bottom: 20px;
}

.blog__card-date {
	display: flex;
	font-size: 13px;
	text-transform: uppercase;
	color: #a3a3a3;
}

.blog__hidden-date {
	visibility: hidden;
    line-height: 2.6
}

.title__small-card {
	display: flex;
	font-size: 20px;
	text-transform: uppercase;
}

.blog__card-info {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 0 30px;
}

.blog__autor-photo {

}

.blog__loading {
	width: 100%;
	max-width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.blog__loading-info {
	text-transform: uppercase;
	font-size: 13px;
}